.main-component {
    width: 900px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    border: 2px solid lightgray;
    padding:20px;
    margin: 20px;
}

.main-component h3 {
    color: slateblue;
}

.price {
    color: red;
}

.rating {
    color: orange;
}

.courseImage {
   flex: 30%;
   margin-right: 5px;
   align-self: center;
}

.courseDesc {
    flex: 70%;
}